<h1>Pages#main</h1>
<p>Find me in app/views/pages/main.html.erb</p>

<p>Hi!</p>

<canvas id="myCanvas"></canvas>

<script>
  var c = document.getElementById("myCanvas");
  var ctx = c.getContext("2d");
  var img = new Image();

  img.onload = function() {
    ctx.drawImage(img, 0, 0);
  };
  img.src = 'https://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png';
</script>
